@import url(reset.css);

:root {
    --color-accent: #F4BF2A;
    --color-primary: #AA2409;
    --color-default: #33425B;
    --color-btn: #630003;
    --color-btn-300: #823335;
    --color-btn-600: #450002;
    --color-border: #272D25
}

body {
    background-image: url('/darkstone.png');
    background-color: #24221E;
}